%header#main_header.main_header
  .box_header_inner
    .header_logo
      %a
        %img{src: "https://static-pairs.akamaized.net/public/img/pc/icon/logo_pairs.png", height: "25px", width: "75px"}
    %p.pairs_concept 無職
    %ul.box_header_notifCentered
      %li#notifCentered.notifCentered_item.notifCentered_message
        %a.hide
          #header_matching_count
    %i.logout
      =link_to destroy_user_session_path, method: :delete do
        ログアウト
.style
  .wrapper
    .side_contents
      .ng-show
        .my_profile_summary
          %p.profile_photo
            %a
            =link_to "/users/#{current_user.id}/edit", method: :get do
              %img{src: "https://pairs-production.akamaized.net/icon/7544/1657544/1471062965_dd470b65490b90f8c22663a5e00d6f40.png?v=1&impolicy=pairs160x160&imwidth=160&width=160&height=160", height: "60", width: "60"}
          %p.profile_name
            %a
            =link_to "/users/#{current_user.id}/edit", method: :get do
              =current_user.name
          %p.profile_status_is_free_member
            %a VIP会員
        .my_profile_input_rate
          %p.input_rate_label
            プロフィール入力率
            %span.input_rate_percent_value
              100%
          .box_input_rate_grahp
            .value_is_percent_100
        .ml10.mb15
        .box_my_status
          %ul.my_statuse_list
            %li.my_status_item.leftover_like
              %p.status_label
                残りいいね数
              %p.stats_value#total_like_numbers
                3
              %a.button_c.button_orange
                追加する
            %li.my_status_item.leftover_point
              %p.status_label
                ポイント残高
              %p.stats_value#total_like_numbers
                29
              %a.button_c.button_orange
                追加する
        .box_my_private_mode
          .box_pm_state
            %img.pm_state_image{src: "public/img/pc/img_jp/private_mode/pm_pc_off.png"}
            .pm_state_text
              プライベートモードがoffになっています
          .link_pm_setting
            %a
              プライベートモードとは？
        %nav.box_gnavi
          .box_gnavis01
            %p.gnavi_title
              探す
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    お相手を探す
          .box_gnavis02
            %p.gnavi_title
              いいね
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    相手からのいいね！
              %li.gnavi_item.is_current
                %a
                  %span
                    自分からのいいね！
              %li.gnavi_item.is_current
                %a
                  %span
                    お気に入り
          .box_gnavis03
            %p.gnavi_title
              マッチング
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    メッセージ
          .box_gnavis04
            %p.gnavi_title
              コミュニティ
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    コミュニティを探す
          .box_gnavis05
            %p.gnavi_title
              有料サービス
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    有料会員とは？
              %li.gnavi_item.is_current
                %a
                  %span
                    プレミアムオプション
              %li.gnavi_item.is_current
                %a
                  %span
                    Pairsポイント
          .box_gnavis06
            %p.gnavi_title
              足あと
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    足あと
          .box_gnavis07
            %p.gnavi_title
              各種設定
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    通知/いいね上限
              %li.gnavi_item.is_current
                %a
                  %span
                    Facebook友達更新
              %li.gnavi_item.is_current
                %a
                  %span
                    非表示.ブロック
              %li.gnavi_item.is_current
                %a
                  %span
                    オフラインモード設定
        %nav.box_other_navi
          %li.other_navi_item.other_navi_item01
            %a
              童貞の方へ
          %li.other_navi_item.other_navi_item02
            %a
              男性会員限定
          %li.other_navi_item.other_navi_item02
            %a
              ヘルプ
    .user_contents
      .ui_view
        .user_main_information
          .my_page_header
            %a.profile_confirmation_button
              プロフィールの見え方を確認
            %a.profile_notification_button
              pairsからのお知らせ
          .box_mypage_detail
            .mypage_detailinner01
              .mypage_detailinner_left
                .user_status
                  .user_status_title
                    %p
                      会員ステータス
                    %a.confirmation_button
                      確認
                  %p.user_status_label
                    無職会員
                .user_tweet
                  .user_tweet_title
                    %p
                      つぶやき
                      %a.link_user_tweet
                        ルール
                    %a.edit_button
                      編集
                  .user_tweet_inner
                    .user_tweet_textarea
                      %p.user_tweet_text
                        始めまして、登録してみました。
                    %p.user_tweet_note
                      あと3回変更できます。(1日3回まで)
                .visitor_summary
                  %p.visitor_summary_title
                    足あと
                  .visitor_summary_count
                    %p.text
                      過去1週間の足跡
                    %p.count
                      40人
                  %ul.user_list
                    %li.user_item
                      %a
                        %img.image_circle{src: "https://pairs-production.akamaized.net/icon/8069/3538069/1498416529_280a06ca0e1493759bb2d95af1391591bec11a71.jpg?v=1&impolicy=pairs82x82&imwidth=82&width=35&height=35",  height: "35px", width: "35px"}
                        %p.user_info
                          27歳 東京
                        %p.user_time
                          01:10
                  %ul.user_list
                    %li.user_item
                      %a
                        %img.image_circle{src: "https://pairs-production.akamaized.net/icon/6141/2326141/1499685782_4dee2cbcbab8d43d3a7fcc31657aaca16fe99c48.jpg?v=1&impolicy=pairs82x82&imwidth=82&width=35&height=35",  height: "35px", width: "35px"}
                        %p.user_info
                          23歳 東京
                        %p.user_time
                          7月28日
                  %ul.user_list
                    %li.user_item
                      %a
                        %img.image_circle{src: "https://pairs-production.akamaized.net/icon/0135/590135/1496723300_71330749d0e6b852773955e8a44d71085d72adae.jpg?v=1&impolicy=pairs82x82&imwidth=82&width=35&height=35",  height: "35px", width: "35px"}
                        %p.user_info
                          28歳 千葉
                        %p.user_time
                          7月28日
                  %ul.user_list
                    %li.user_item
                      %a
                        %img.image_circle{src: "https://pairs-production.akamaized.net/icon/5600/3545600/1500903916_b52e64b6dd63ae9ac4cce7c8af7cc0834074faee.jpg?v=1&impolicy=pairs82x82&imwidth=82&width=35&height=35",  height: "35px", width: "35px"}
                        %p.user_info
                          25歳 東京
                        %p.user_time
                          7月28日
                  .box_link_more
                    %a.more_button
                      もっと見る
              .mypage_inner_right
                .box_my_display_photo
                  .my_dislay_photo_title
                    メイン写真・サブ写真
                    %p.button_edit
                      %a.button_f
                        写真編集
                  .my_summary_info
                    %ul.my_display_photo_list
                      %li.my_display_photo_item.is_current
                        %img{src: "https://static-pairs.akamaized.net/public/img/pc/img_jp/myprofile/photo_place_holddr_profile.png", height: "388px", width: "390px"}
                  .box_my_photo
                    .box_my_photo_inner
                      %ul.my_photo_list
                        %li.photo_item.is_current
                          .image_round
                            %img{src: "https://static-pairs.akamaized.net/public/img/pc/img_jp/myprofile/photo_place_holddr_profile.png"}
                          %a.link_photo_edit
                            メイン写真
                        %li.photo_item
                          %img{src: "https://static-pairs.akamaized.net/public/img/pc/img_jp/myprofile/photo_place_holddr_profile.png"}
                        %li.photo_item
                          %img{src: "https://static-pairs.akamaized.net/public/img/pc/img_jp/myprofile/photo_place_holddr_profile.png"}
                        %li.photo_item
                          %img{src: "https://static-pairs.akamaized.net/public/img/pc/img_jp/myprofile/photo_place_holddr_profile.png"}
                  .box_photo_pager
                    %a.pager_pre.button_c.button_white_a
                      前の4枚
                    %a.pager_next.button_c.button_white_a
                      次の4枚
            .mypage_detailinner02
              .mypage_detail_inner_left
                %div#box_popup_edit
                  .hide#popup_text
                    .box_popup_input
                      .popup_input_inner
                        %p.popup_input_title
                          職種を選択してください
                        %div.form_item.form_select
                          %select
                            %option
                              選択してください
                            %option
                              上場企業
                            %option
                              金融
                            %option
                              公務員
                            %option
                              コンサル
                            %option
                              経営者、役員
                            %option
                              大手企業
                            %option
                              大手外資
                            %option
                              大手商社
                            %option
                              外資金融
                            %option
                              医師
                            %option
                              無職
                          %span.customSelect
                            %span.customSelectInner
                              選択してください
                        %div.form_item.form_text
                          %input.ng-pristine{placeholder: "入力して下さい"}

                        %div.box_form_action_button
                          %ul.action_button_list
                            %li.action_button_item
                              %button.button_f.button_pink_a
                                閉じる
                            %li.action_button_item.renew_button
                              %button.button_f.button_blue_a
                                更新
                .box_profile_detail
                  %p.detail_sub_note.pb10.borderb1
                    項目を選択すると編集できます
                  %p.detail_sub_title
                    %span.title_a
                      Pairsプロフ
                  %dl.detail_item_list.basic_info
                    %dt.detail_item_title
                      %span.item_title
                        身長
                    -if current_user.height
                      %dd.detail_item_value
                        =current_user.height
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        体形
                    -if current_user.body
                      %dd.detail_item_value
                        =current_user.body
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        血液型
                    -if current_user.bloodtype
                      %dd.detail_item_value
                        =current_user.bloodtype
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        居住地
                    -if current_user.area
                      %dd.detail_item_value
                        =current_user.area
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        出身地
                    -if current_user.hometown
                      %dd.detail_item_value
                        =current_user.hometown
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        職種
                    -if current_user.occupation
                      %dd.detail_item_value
                        =current_user.occupation
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        学歴
                    -if current_user.education
                      %dd.detail_item_value
                        =current_user.education
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        年収
                    %dd.detail_item_value
                      0円
                    %dt.detail_item_title
                      %span.item_title
                        タバコ
                    -if current_user.tobacco
                      %dd.detail_item_value
                        =current_user.tobacco
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                  %p.detail_sub_title
                    %span.title_a
                      詳細プロフ
                  %p.detail_sub_title
                    基本情報
                  %dl.detail_item_list
                    %dt.detail_item_title
                      %span.item_title
                        ニックネーム
                    %dd.detail_item_value
                      AM
                    %dt.detail_item_title
                      %span.item_title
                        年齢
                    -if current_user.age
                      %dd.detail_item_value
                        =current_user.age
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        兄弟姉妹
                    -if current_user.sibling
                      %dd.detail_item_value
                        =current_user.sibling
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        国籍
                    -if current_user.nationality
                      %dd.detail_item_value
                        =current_user.nationality
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                    %dt.detail_item_title
                      %span.item_title
                        話せる言語
                    -if current_user.language
                      %dd.detail_item_value
                        =current_user.language
                    -else
                      %dd.detail_item_value
                        ステータスを入れて下さい
                  %p.detail_sub_title
                    恋愛・結婚について
                  %dl.detail_item_list
                    %dt.detail_item_title
                      %span.item_title
                        結婚歴
                    %dd.detail_item_value
                      なし
                    %dt.detail_item_title
                      %span.item_title
                        子供の有無
                    %dd.detail_item_value
                      なし
                    %dt.detail_item_title
                      %span.item_title
                        結婚に対する意思
                    %dd.detail_item_value
                      2~3年のうちに
                    %dt.detail_item_title
                      %span.item_title
                        子供がほしいか
                    %dd.detail_item_value
                      わからない
                    %dt.detail_item_title
                      %span.item_title
                        家事
                    %dd.detail_item_value
                      育児
                    %dt.detail_item_title
                      %span.item_title
                        出会うまでの希望
                    %dd.detail_item_value
                      気が合えば会いたい
                    %dt.detail_item_title
                      %span.item_title
                        初回デート費用
                    %dd.detail_item_value
                      選択してください
                  %p.detail_sub_title
                    性格、趣味、生活
                  %dl.detail_item_list
                    %dt.detail_item_title
                      %span.item_title
                        性格・タイプ
                    %dd.detail_item_value
                      自由
                    %dt.detail_item_title
                      %span.item_title
                        社交性
                    %dd.detail_item_value
                      一人暮らし
                    %dt.detail_item_title
                      %span.item_title
                        休日
                    %dd.detail_item_value
                      土日
                    %dt.detail_item_title
                      %span.item_title
                        お酒
                    %dd.detail_item_value
                      飲む
                    %dt.detail_item_title
                      %span.item_title
                        好きなこと・趣味
                    -if current_user.hobby
                      %dd.detail_item_value
                      =current_user.hobby
                    -else
                      %dd.detail_item_value
                        ステータスを入力して下さい。
                %a.button_a.button_white_a
                  質問つきいいね！の設定
              .mypage_detail_inner_right
                .box_join_community
                  .join_community_title_b
                    %span.title_a
                      参加しているコミュニティ
                    %a.button_new_entry.button_f.button_white_a
                      新しいコミュニティに入る
                  %ul.join_community_list
                    %li.join_community_item
                      %a
                        .box_community_item_img
                          %img.community_item_img.image-round{src: "https://image-pairs.akamaized.net/?format=jpeg&url=http%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpairs-lv%2Fcommunity%2Fc5488827880e1b&v=1&impolicy=pairs82x82&imwidth=82&width=70&height=70", width: "70", height: "70"}
                        %p.community_item_title
                          テスト
                        %p.community_item_count
                          (1,863人)
                    %li.join_community_item
                      %a
                        .box_community_item_img
                          %img.community_item_img.image-round{src: "https://image-pairs.akamaized.net/?format=jpeg&url=http%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpairs-lv%2Fcommunity%2Fc5488827880e1b&v=1&impolicy=pairs82x82&imwidth=82&width=70&height=70", width: "70", height: "70"}
                        %p.community_item_title
                          テスト
                        %p.community_item_count
                          (1,863人)
                    %li.join_community_item
                      %a
                        .box_community_item_img
                          %img.community_item_img.image-round{src: "https://image-pairs.akamaized.net/?format=jpeg&url=http%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpairs-lv%2Fcommunity%2Fc5488827880e1b&v=1&impolicy=pairs82x82&imwidth=82&width=70&height=70", width: "70", height: "70"}
                        %p.community_item_title
                          テスト
                        %p.community_item_count
                          (1,863人)
                    %li.join_community_item
                      %a
                        .box_community_item_img
                          %img.community_item_img.image-round{src: "https://image-pairs.akamaized.net/?format=jpeg&url=http%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpairs-lv%2Fcommunity%2Fc5488827880e1b&v=1&impolicy=pairs82x82&imwidth=82&width=70&height=70", width: "70", height: "70"}
                        %p.community_item_title
                          テスト
                        %p.community_item_count
                          (1,863人)
                    %li.join_community_item
                      %a
                        .box_community_item_img
                          %img.community_item_img.image-round{src: "https://image-pairs.akamaized.net/?format=jpeg&url=http%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpairs-lv%2Fcommunity%2Fc5488827880e1b&v=1&impolicy=pairs82x82&imwidth=82&width=70&height=70", width: "70", height: "70"}
                        %p.community_item_title
                          テスト
                        %p.community_item_count
                          (1,863人)
                    %li.join_community_item
                      %a
                        .box_community_item_img
                          %img.community_item_img.image-round{src: "https://image-pairs.akamaized.net/?format=jpeg&url=http%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpairs-lv%2Fcommunity%2Fc5488827880e1b&v=1&impolicy=pairs82x82&imwidth=82&width=70&height=70", width: "70", height: "70"}
                        %p.community_item_title
                          テスト
                        %p.community_item_count
                          (1,863人)
                    %li.join_community_item
                      %a
                        .box_community_item_img
                          %img.community_item_img.image-round{src: "https://image-pairs.akamaized.net/?format=jpeg&url=http%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpairs-lv%2Fcommunity%2Fc5488827880e1b&v=1&impolicy=pairs82x82&imwidth=82&width=70&height=70", width: "70", height: "70"}
                        %p.community_item_title
                          テスト
                        %p.community_item_count
                          (1,863人)
                    %li.join_community_item
                      %a
                        .box_community_item_img
                          %img.community_item_img.image-round{src: "https://image-pairs.akamaized.net/?format=jpeg&url=http%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpairs-lv%2Fcommunity%2Fc5488827880e1b&v=1&impolicy=pairs82x82&imwidth=82&width=70&height=70", width: "70", height: "70"}
                        %p.community_item_title
                          テスト
                        %p.community_item_count
                          (1,863人)
                  .box_community_pager
                    %a.pager_pre.button_c.button_white_a.disabled
                      %img{src: "https://static-pairs.akamaized.net/public/img/pc/icon/icon_sprites.png?20141111?v170728110749-0914473", width: "9px", height: "14px"}
                    %ol.pager_nums
                      %li.pager_num.is_current
                        %a
                          1
                    %a.pager_next.button_c.button_white_a.disabled
                      %img{src: "https://static-pairs.akamaized.net/public/img/pc/icon/icon_sprites.png?20141111?v170728110749-0914473", width: "9px", height: "14px"}
                .box_mypage_introduction
                  %p.introduction_title
                    自己紹介文
                    %span
                      %a.button_edit.button_c.button_blue_a
                        編集
                  %p.introduction_text
                    無職だって恋したい