%header#main_header.main_header
  .box_header_inner
    .header_logo
      %a
        %img{src: "https://static-pairs.akamaized.net/public/img/pc/icon/logo_pairs.png", height: "25px", width: "75px"}
    %p.pairs_concept Facebookではじめる恋愛
    %ul.box_header_notifCentered
      %li#notifCentered.notifCentered_item.notifCentered_message
        %a.hide
          #header_matching_count
    %i.logout
      =link_to destroy_user_session_path, method: :delete do
        ログアウト
.style
  .wrapper
    .side_contents
      .ng-show
        .my_profile_summary
          %p.profile_photo
            %a
              %img{src: "https://pairs-production.akamaized.net/icon/7544/1657544/1471062965_dd470b65490b90f8c22663a5e00d6f40.png?v=1&impolicy=pairs160x160&imwidth=160&width=160&height=160", height: "60", width: "60"}
          %p.profile_name
            %a AM 東京
          %p.profile_status_is_free_member
            %a 無料会員
        .my_profile_input_rate
          %p.input_rate_label
            プロフィール入力率
            %span.input_rate_percent_value
              100%
          .box_input_rate_grahp
            .value_is_percent_100
        .ml10.mb15
        .box_my_status
          %ul.my_statuse_list
            %li.my_status_item.leftover_like
              %p.status_label
                残りいいね数
              %p.stats_value#total_like_numbers
                3
              %a.button_c.button_orange
                追加する
            %li.my_status_item.leftover_point
              %p.status_label
                ポイント残高
              %p.stats_value#total_like_numbers
                29
              %a.button_c.button_orange
                追加する
        .box_my_private_mode
          .box_pm_state
            %img.pm_state_image{src: "public/img/pc/img_jp/private_mode/pm_pc_off.png"}
            .pm_state_text
              プライベートモードがoffになっています
          .link_pm_setting
            %a
              プライベートモードとは？
        %nav.box_gnavi
          .box_gnavis01
            %p.gnavi_title
              探す
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    お相手を探す
          .box_gnavis02
            %p.gnavi_title
              いいね
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    相手からのいいね！
              %li.gnavi_item.is_current
                %a
                  %span
                    自分からのいいね！
              %li.gnavi_item.is_current
                %a
                  %span
                    お気に入り
          .box_gnavis03
            %p.gnavi_title
              マッチング
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    メッセージ
          .box_gnavis04
            %p.gnavi_title
              コミュニティ
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    コミュニティを探す
          .box_gnavis05
            %p.gnavi_title
              有料サービス
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    有料会員とは？
              %li.gnavi_item.is_current
                %a
                  %span
                    プレミアムオプション
              %li.gnavi_item.is_current
                %a
                  %span
                    Pairsポイント
          .box_gnavis06
            %p.gnavi_title
              足あと
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    足あと
          .box_gnavis07
            %p.gnavi_title
              各種設定
            %ul
              %li.gnavi_item.is_current
                %a
                  %span
                    通知/いいね上限
              %li.gnavi_item.is_current
                %a
                  %span
                    Facebook友達更新
              %li.gnavi_item.is_current
                %a
                  %span
                    非表示.ブロック
              %li.gnavi_item.is_current
                %a
                  %span
                    オフラインモード設定
        %nav.box_other_navi
          %li.other_navi_item.other_navi_item01
            %a
              童貞の方へ
          %li.other_navi_item.other_navi_item02
            %a
              男性会員限定
          %li.other_navi_item.other_navi_item02
            %a
              ヘルプ
    .main_contents
  / .hide#js_lang_unselected
  / .hide#js_lang_community_category_title_popular
  / .hide#js_lang_community_category_title_new
  / .hide#js_lang_community_category_title_fame
  / .hide#js_lang_community_category_title_recomend



