%header#main_header.main_header
  .box_header_inner
    .header_logo
      %a
        %img{src: "https://static-pairs.akamaized.net/public/img/pc/icon/logo_pairs.png", height: "25px", width: "75px"}
    %p.pairs_concept Facebookではじめる恋愛
    %ul.box_header_notifCentered
      %li#notifCentered.notifCentered_item.notifCentered_message
        %a.hide
          #header_matching_count
